<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" class="app-title">Carshop</span>
  <button routerLink="search" class="example-icon" mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>search</mat-icon>
    <span >Search cars</span>
  </button>

  <button routerLink="about-us" class="example-icon" mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>info</mat-icon>
    <span >About us</span>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>
