<mat-grid-list cols="5" rowHeight="1:3">
  <mat-grid-tile style="margin-left: 20px">

    <div class="example-container">
      <div class="form-container">
        <form [formGroup]="searchForm" (submit)="search()">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Fuel
            </mat-label>
            <input matInput formControlName="fuel">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Transmission
            </mat-label>
            <input matInput formControlName="transmission" type="text">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Type
            </mat-label>
            <input matInput formControlName="type" type="text">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Brand
            </mat-label>
            <mat-select formControlName="brand">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let brand of brands" [value]="brand">
                {{brand.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Model
            </mat-label>
            <mat-select formControlName="model">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let model of models" [value]="model">
                {{model.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Price from
            </mat-label>
            <input matInput formControlName="minPrice" type="number">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Price to
            </mat-label>
            <input matInput formControlName="maxPrice" type="number">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Horsepower from
            </mat-label>
            <input matInput formControlName="minHp" type="number">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Horsepower to
            </mat-label>
            <input matInput formControlName="maxHp" type="number">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Construction year from
            </mat-label>
            <input matInput formControlName="minRegistrationYear" type="number">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Construction year to
            </mat-label>
            <input matInput formControlName="maxRegistrationYear" type="number">
          </mat-form-field>
          <br><br>
          <button mat-raised-button color="primary" type="submit">Log In</button>
        </form>
      </div>
    </div>

  </mat-grid-tile>


  <mat-grid-tile [colspan]="4">

    <mat-card class="example-card" *ngFor="let car of cars">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{car.brand.name}} - {{car.brand.model}}</mat-card-title>
        <mat-card-subtitle>{{car.productionYear}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://socialistmodernism.com/wp-content/uploads/2017/07/placeholder-image.png"
           alt="Car photo">
      <mat-card-content>
        <h4>{{car.price | currency}}</h4>
        <h4>{{car.hp}}</h4>
        <h4>{{car.fuel}}</h4>
        <h4>{{car.type}}</h4>
        <h4>{{car.transmission}}</h4>
        <p>
          {{car.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>


  </mat-grid-tile>
</mat-grid-list>
